
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" routerLink="viewHMOmembers">view all HMO members</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-nav"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="viewSingleMember">view specify HMO member <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="addHMOmember">add an HMO member</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="viewAllCoronaDetails">view all Covid19 details</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link " href="#" routerLink="viewSingleCoronaDetails">view specify Covid19 details</a>
        </li>

        <li class="nav-item active">
            <a class="nav-link " href="#" routerLink="addCoronaDetails" >add Covid19 details</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link " href="#" routerLink="googleMap">Creating group insulation</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link " href="#" routerLink="addAvaccination" >add a vaccination</a>
          </li>
      </ul>
    </div>
  </nav>
<br><br><br><br>
<!-- <app-graph></app-graph> -->
<router-outlet></router-outlet>

